<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Añadir Archivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Seleccione la ficha</ion-label>
  <ion-input type="text" [(ngModel)]="idFicha" (change)="actualizarLista()"></ion-input>
  <ion-button (click)="abrirArchivo()">Añadir archivos</ion-button>
  {{ archivo.nombre ?  'Nombre archivo: ' + archivo.nombre : 'Seleccione un archivo' }}
  <input type="file" accept="image/*" id="fileSelect" [(ngModel)]="selectedFile" (change)="abrirArchivo2($event)">
  <div>
    {{cantArchivos === 0 ? 'No hay archivos ' : ''}}
  </div>
  <ion-list>
    <ion-item *ngFor="let archi of archis">
      {{archi.nombre}}
      <div class="item-note" slot="end">
        <ion-button (click)="borrarArchivo(archi.idFichaArchivo)">borrar</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>