ion-content {
    --background: none;
    background-image: url('../../../../assets/img/sidebar.svg');
    //background-image:url('../../../../assets/img/background.svg');
        
    background-repeat: no-repeat;
    background-size:cover;
}

ion-card {
    width:100%;
    background-color:white;
    border-left: 0.2em solid  #FFAE47;
    
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}