ion-content {
    --background: none;
    background-image: url('../../../assets/img/sidebar.svg');
        
    background-repeat: no-repeat;
    background-size: cover;
}

ion-menu {
    ionic-header{
        background-color: #40454F !important;
        .toolbar-background{
    
}
    }
    ion-toolbar {
        background-color:#40454F ;
        
        --background:  #40454F !important;
        
        .toolbar-background{
            background-color:#40454F ;
        }
      }
    }

ion-card {
    width:100%;
    background-color:white;
    
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

ion-select {
    min-width: 80% !important;
    color:white;
}

ion-refresher ion-refresher-content {
    background: white;
   --color:#FFF!important;
}

